<%- include("../../partials/header.ejs") %>
  <%- include("../../partials/navbar.ejs") %>

    <div class="container">
      <hr>
      <div class="card">
        <div class="card-header">
          <h2>Edição de Categoria</h2>
        </div>
        <div class="card-body">
          <form method="POST" action="/categories/update">
            <!-- Campo de Título -->
            <div class="form-group">
              <label for="title">Título</label>
              <input class="form-control" type="text" id="title" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>" required>
            </div>

            <!-- Campo Oculto para ID -->
            <input type="hidden" name="id" value="<%= category.id %>">

            <!-- Botão de Atualizar -->
            <button class="btn btn-success mt-3" type="submit">Atualizar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include("../../partials/footer.ejs") %>