<%- include ../../partials/header.ejs %>
  <%- include ../../partials/navbar.ejs %>

    <div class="container">
      <hr>
      <h2>Usuários</h2>
      <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% if (users.length> 0) { %>
            <% users.forEach(user=> { %>
              <tr>
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= user.email %>
                </td>
                <td>
                  <a href="/admin/users/edit/<%= user.id %>" class="btn btn-warning btn-sm">Editar</a>
                  <form action="/admin/users/delete" method="POST" style="display: inline;" onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                  </form>
                </td>
              </tr>
              <% }) %>
                <% } else { %>
                  <tr>
                    <td colspan="3" class="text-center">Nenhum usuário cadastrado.</td>
                  </tr>
                  <% } %>
        </tbody>
      </table>
    </div>

    <%- include ../../partials/footer.ejs %>